.upper-panel {
    display: flex;
    justify-content: space-between;
}

.upper-panel__breadcrumbs {
    display: flex;
    gap: 12px;
}

.upper-panel__breadcrumbs-first

.upper-panel__breadcrumbs-second {
    display: flex;
    gap: 3px;
}