.upper-panel {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.upper-panel__breadcrumbs {
    display: flex;
    gap: 12px;
    color: var(--text2);
}

.upper-panel__breadcrumbs-first {
    opacity: 0.5;
}

.upper-panel__welcome {
    color: var(--text2);
}

.upper-panel__breadcrumbs-guest {
    color: var(--secondary-2);
}

.account-profile {
    display: flex;
    gap: 100px;
}



.profile-edition {
    padding: 40px 0 0 80px;
}

.profile-edition h4 {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: var(--secondary-2);
}

.profile-data {
    display: grid;
    grid-template-columns: repeat(2, fr);
    grid-template-areas: "FirstName Woman Woman"
                                      "PS5 Speakers Perfume";
    row-gap: 24px;
    column-gap: 50px;
}

.profile-data__first-name {
    grid-area: FirstName;
}

.profile-data__last-name {
}
.profile-data__email {
}
.profile-data__address {
}