* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--primary: #fff;
	--primary1: #363738;
	--secondary: #f5f5f5;
	--secondary1: #fefaf1;
	--bg: #fff;
	--text: #fafafa;
	--text1: #7d8184;
	--text2: #000;
	--button: #000;
	--secondary-2: #db4444;
	--button1: #0f6;
	--button2: #db4444;
	--hover-button: #e07575;
	--hover-button: #a0bce0;
	--300-1px: rgba(0, 0, 0, 0.3);
}

:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
  }

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--text);
}

.container {
    max-width: 1170px;
}

a {
    text-decoration: none;
    color: #000;
}

.header__upper {
    background-color: #000;
    padding: 12px 0;
    margin-bottom: 40px;
}

.container-header__upper {
    display: flex;
    justify-content: flex-end;
}

.header__upper-wrapper {
    max-width: 860px;
    display: flex;
    gap: calc(28vw - 172px);
}

.header__upper-wrapper div {
    display: flex;
    gap: 8px;
}

.header__upper-link {
    text-decoration: underline;
    color: var(--text);
}

.header__upper-dropdown {
    color: var(--text);
    background-color: #000;
    border: none;
}

.container-header__lower {
    display: flex;
    justify-content: space-between;
}

.header__lower-logo a {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: var(--text2);
}

.header__lower-navbar {
    
}
