* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 2px solid red;
}

:root {
	--primary: #fff;
	--primary1: #363738;
	--secondary: #f5f5f5;
	--secondary1: #fefaf1;
	--bg: #fff;
	--text: #fafafa;
	--text1: #7d8184;
	--text2: #000;
	--button: #000;
	--secondary-2: #db4444;
	--button1: #0f6;
	--button2: #db4444;
	--hover-button: #e07575;
	--hover-button: #a0bce0;
	--300-1px: rgba(0, 0, 0, 0.3);
}

:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
  }

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

main {
    position: relative;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.header {
    margin-bottom: 16px;
}

.header__upper {
    background-color: #000;
    padding: 12px 0;
    margin-bottom: calc(3.5vw - 10px);
    color: var(--text);
}

.container-header__upper {
    display: flex;
    justify-content: flex-end;
}

.header__upper-wrapper {
    max-width: 100%;
    display: flex;
    gap: calc(26.3vw - 147.3px);
}

.header__upper-discount {
    text-overflow: ellipsis;
}

.header__upper-link {
    text-decoration: underline;
    color: var(--text);
}

.header__upper-dropdown {
    color: var(--text);
    background-color: #000;
    border: none;
}

.container-header__lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__lower-logo a {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: var(--text2);
}

.header__lower-navbar {
    display: flex;
    align-items: center;
    gap: calc(5.1vw - 26px);
    margin-bottom: 0;
    padding-left: calc(3.6vw - 19.4px);
    margin-left: 48px;
}

.header__lower-navbar li {
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.header__lower-navbar li:hover::after, .header__lower-navbar.lower-nav-active::after {
    width: 100%;
}

.header__lower-navbar li::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    width: 0;
    height: 1px;
    background-color: var(--text2);
    opacity: 0.5;
}

.header__lower-instruments {
    display: flex;
    gap: 24px;
    align-items: center;
}

.header__lower-search {
    background: var(--secondary);
    border-radius: 4px;
    padding: 7px 12px 7px calc(1.2vw + 3px);
    max-width: 277px;
    height: 38px;
    display: flex;
    gap: calc(3.9vw - 21.7px);
    margin-right: 24px;
}

.header__lower-search input {
    border: none;
    background: var(--secondary);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--text2);
    opacity: 0.5;
    width: 160px;
}

.header__lower-search input:focus{
    outline: none;
    border: 1px solid var(--secondary);
}

.header__lower-search button {
    border: none;
}

.header__lower-actions {
    display: flex;
    gap: 16px;
}

.header__lower-user {
    position: relative;
    display: inline-block;
}

.header__lower-dropdown {
    display: none;
    flex-direction: column;
    gap: 13px;
    position: absolute;
    top: 35px;
    right: 0;
    backdrop-filter: blur(150px);
    background: rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 18px 12px 10px 20px;
    z-index: 1000;
    width: 224px;
    height: 208px;
  }
  .header__lower--dropdown-item {
    cursor: pointer;
    color: var(--text);
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .header__lower--dropdown-item a {
    color: var(--text);
  }
  .header__lower--dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

.section-one {
    border-top: 2px solid var(--text1);
}

.container-one {
    display: flex;
}

.sidebar {
    max-width: 217px;
    padding-right: 16px;
    border-right: 2px solid var(--text1);;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: calc(1.2vw - 1.1px);
    padding-left: 0;
    margin-bottom: 0;
    min-width: 207px;
}

.menu-item:first-child {
    margin-top: calc(2.4vw + 5.7px);
}

.menu-item__compound {
    display: flex;
    justify-content: space-between;
}

.submenu {
    display: none;
}

.menu-btn {
    transition: transform 0.3s ease;
    border: none;
    background-color: var(--bg);
}

.menu-btn.open {
    transform: rotate(180deg);
}

ul li {
    list-style: none;
}

.splider1-slide-1, .splider1-slide-2, .splider1-slide-4, .splider1-slide-5 {
    color: var(--text2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.splide__pagination__page {
    width: 10px;
    height: 10px;
}

.splide__pagination__page.is-active{
    border: 2px solid var(--primary);
    background-color: var(--secondary-2);
    width: 10px;
    height: 10px;
}

.splide-slider1 {
    margin-left: calc(3.9vw - 13.7px);
    margin-top: calc(2.4vw + 5.7px);
    width: 100%;
    max-width: 932px;
    max-height: 344px;
    display: flex;
    color: var(--text);
    overflow: hidden;
}

.splider1-slide-3 {
    display: flex;
    background-color: #000;
    gap: calc(5.7vw - 43.4px);
    max-width: 932px;
    margin-right: 0;
}

.splider1-slide-3.is-active {
    background-color: #000;
    display: flex;
    max-width: 932px;
    margin-right: 0;
}

.splider1-slide3__text {
    padding: calc(3.9vw + 1.3px) 0 0 calc(5.1vw - 9.3px);
    display: flex;
    flex-direction: column;
    max-width: 358px;
    max-height: 250px;
}

.splider1-slide3__text-header {
    display: flex;
    gap: calc(1.9vw - 2.7px);
    align-items: center;
    margin-bottom: 20px;
}

.splider1-slide3__text-header p {
    margin-bottom: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
}

.splider1-slide3__text-promo {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: calc(2.3vw + 14.7px);
    line-height: 125%;
    letter-spacing: 0.04em;
    color: var(--text);
    text-wrap: wrap;
}

.splider1-slide3__text-link {
    display: flex;
    gap: calc(0.7vw - 2px);
    align-items: center;
}

.splider1-slide3__text-link a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
}

.splider1-slide3__image {
    max-width: 496px;
    max-height: 344px;
    position: relative;
}

.splider1-slide3__image img {
    margin-top: 16px;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.section-two {
    margin-top: calc(11.6vw - 26.7px);
}

.container-cards {
    border-bottom: 2px solid var(--text1);
}

.container-cards__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1170px;
}
.container-card__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: calc(1.9vw + 37.3px);
    flex-wrap: wrap;
}
.container-card__heading-block {
    display: flex;
    flex-direction: column;
    gap: calc(1.4vw + 4px);
}

.container-card__heading-block h2 {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: calc(0.9vw + 22.7px);
    line-height: 133%;
    letter-spacing: 0.04em;
    color: var(--text2);
    margin-bottom: 0;
}

.container-card__heading-bage {
    display: flex;
    gap: 16px;
    align-items: center;
}

.container-card__heading-bage h4 {
    margin-bottom: 0;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: var(--secondary-2);
}

.container-card__heading-timer {
    display: flex;
    justify-content: space-between;
    gap: 17px;
}
.container-card__heading-timer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-card__heading-timer-block h5 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: var(--text2);
}

.container-card__heading-timer-digits {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 94%;
    letter-spacing: 0.04em;
    color: var(--text2);
}

.container-card__colon {
    align-self: end;
    margin-bottom: 8px;
}

.container-card__header-navigation {
    display: flex;
    align-items: center;
    gap: 8px;
}

.container-card__header-navigation a {
    border-radius: 100%;
    background-color: var(--secondary);
    border-radius: 100%;
    width: 46px;
    height: 46px;
    padding: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-cards__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    border: 2px solid var(--secondary-2);
    padding: 16px 48px;
    width: fit-content;
    max-height: 56px;
    background: var(--secondary-2);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
    margin: calc(2.3vw + 26.7px) auto;
    transition: all .3s ease;
}

.container-cards__button:hover {
    background: var(--primary);
    color: var(--secondary-2);
    
}

.splide-slider2 {
    margin-top: calc(0.9vw + 26.7px);
    flex-wrap: wrap;
}

.splider2-slide {
    max-width: calc(4.6vw + 203.33px);
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    flex-grow: 1;
}

.splider2-slide__image-block {
    background: var(--secondary);
    border-radius: 4px;
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.splider2-slide__main-image {
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    height: auto
}

.splider2-slide__image-block-bage {
    object-fit: contain;
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 4px 12px;
    background: var(--secondary-2);
    font-family: var(--font-family);
    font-size: 12px;
    color: var(--text);
}

.splider2-slide__image-block button {
    border: none;
    object-fit: contain;
    position: absolute;
    top: 12px;
    right: 12px;
}

.splider2-slide__image-block button:nth-of-type(2) {
    border: none;
    object-fit: contain;
    position: absolute;
    top: 54px;
    right: 12px;
}

.splider2-slide__image-add-cart {
    background-color: var(--button);
    border-radius: 0 0 4px 4px;
    color: var(--primary);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splider2-slide__description-block {
    margin-top: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
}

.splider2-slide__description-block h6 {
    margin-bottom: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: var(--text2);
}

.splider2-slide__description-prices {
    display: flex;
    align-items: center;
    gap: 12px;
}

.splider2-slide__description-price1 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: var(--secondary-2);
}

.splider2-slide__description-price2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-decoration: line-through;
    color: var(--text2);
    opacity: 0.5;
}

.splider2-slide__description-rating {
    display: flex;
    gap: 8px;
    align-items: center;
}

.splider2-slide__description-rating span {
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--text2);
    opacity: 0.5;
}

.section-three {
    margin-top: calc(4.6vw + 13.3px);
}

.splide-slider3 {
    margin: 70px 0 70px 0;
}

.categories-panel {
    
    /* display: flex;
    gap: 30px; */
}

.container-cards__category {
    border: 1px solid var(--300-1px);
    border-radius: 4px;
    min-width: 170px;
    min-height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.container-cards__category svg {
    stroke: var(--primary1);
}

.container-cards__category-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text2);
}

.title-active {
    color: var(--text);
}

.category-active {
    box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.05);
    background: var(--secondary-2);
    
}

.category-active svg {
    stroke: var(--primary);
}

.section-four {
    margin-top: calc(3.5vw + 20px);
}

.container-card__header-viewall {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 2px solid var(--secondary-2);
    padding: 16px 48px;
    width: fit-content;
    min-height: 56px;
    background: var(--secondary-2);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    transition: all .3s ease;
    color: var(--text);
}

.container-card__header-viewall:hover {
    background: var(--primary);
    color: var(--secondary-2);
}


.container-cards-twin {
    border: none;
}

.splide-slider2__bestsellers {
    display: flex;
    gap: 30px;
    margin-top: calc(0.9vw + 26.7px);
}

.section-five {
    margin-top: calc(11.6vw - 26.7px);
}

.container__hot-offer {
    background-color: var(--button);
    color: var(--text);
    display: flex;
    gap: calc(5.1vw - 27.3px);
    flex-wrap: wrap-reverse;
}

.hot-offer__main-block {
    padding: calc(12.3vw - 108.6px) 0 calc(12.3vw - 108.6px) calc(8vw - 59px);
    display: flex;
    flex-direction: column;
    max-width: 496px;
}

.hot-offer__main-block-subtitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: var(--button1);
    margin-bottom: calc(2.3vw - 1.3px);
}

.hot-offer__main-block-title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: calc(2.3vw + 14.7px);
    line-height: 125%;
    letter-spacing: 0.04em;
    color: var(--text);
    margin-bottom: calc(2.3vw - 1.3px);
}

.hot-offer__main-block-timer {
    display: flex;
    gap: 24px;
    margin-bottom: calc(0.9vw + 26.7px);
}

.hot-offer__timer-cell {
    border-radius: 100%;
    background-color: var(--primary);
    width: 62px;
    height: 62px;
    padding: 14px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text2);
}

.hot-offer__timer-cell-digits {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
}

.hot-offer__timer-cell p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 164%;
    margin-bottom: 0;
}

.hot-offer__main-block-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 2px solid var(--button1);
    padding: 16px 48px;
    width: fit-content;
    height: 56px;
    background: var(--button1);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
}

.hot-offer__main-block-button:hover {
    background: var(--button);
    color: var(--button1);
}

.hot-offer__image-block {
    max-width: 628px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hot-offer__image-block img {
    position: relative;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    z-index: 2;
}

.hot-offer__image-block--blur-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background: #d9d9d9;
    border-radius: 50%;
    filter: blur(200px);
    opacity: 0.5;
    z-index: 1;
}

.section-six {
    margin-top: calc(3.5vw + 20px);
}

.splide-slider2__products {
    display: flex;
    column-gap: 30px;
    row-gap: 60px;
    margin-top: calc(0.9vw + 26.7px);
    flex-wrap: wrap;
}

.splider2-slide__image-block-bage2 {
    object-fit: contain;
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 4px 12px;
    background: var(--button1);
    font-family: var(--font-family);
    font-size: 12px;
    text-transform: uppercase;
    color: var(--text);
}

.splider2-slide__switch-buttons {
    display: flex;
    gap: 8px;
}

.container-cards-twin__new-products {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 30px;
    margin-top: calc(0.9vw + 26.7px);
}

.container-cards-twin__new-products a {
    color: var(--text);
}

.new-products__left-block {
    background-color: var(--button);
    position: relative;
    color: var(--text);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    min-height: 600px;
    min-width: 570px;
    
}

.new-products__left-block-image, {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.new-products__left-block img {
    display: block;
    max-width: 100%;
    height: auto;
}

.new-products__description {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: 2;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.new-products__description h4 {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.03em;
    margin-bottom: 0;
    color: var(--text);
    max-width: 275px;
}

.new-products__description p {
    margin-bottom: 0;
    color: var(--text);
}

.new-products__description a {
    font-weight: 500;
    font-size: 16px;
}

.new-products__right-block {
    display: flex;
    flex-direction: column;
}

.new-products__right-block-upper {
    background-color: var(--button);
    position: relative;
    min-height: 284px;
    min-width: 570px;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 32px;
}

.new-products__right-block-upper img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 432px;
    max-height: 286px;
    height: auto;
    width: 100%;
}

.new-products__right-block-lowers {
    display: flex;
    gap: 30px;
}

.new-products__right-block-lower1, .new-products__right-block-lower2 {
    display: flex;
    align-items: end;
    min-width: 270px;
    min-height: 284px;
    background-color: var(--button);
    position: relative;
}

.new-products__right-block-lower1 img, .new-products__right-block-lower2 img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section-eight {
    margin-top: calc(11.6vw - 26.7px);
}

.our-advantages {
    display: flex;
    gap: calc(8.3vw - 32px);
    padding: 0 113.5px;
}

.advantage-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;

}

.advantage-image__wrapper {
    text-align: center;
}


.advantage-text h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: var(--text2);
    text-align: center;
}

.advantage-text p {
    text-align: center;
    color: var(--text2);
    text-align: center;
}

.up-scroller {
    border: none;
    background-color: var(--secondary);
    width: 46px;
    height: 46px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 32px;
    right: calc(4.5vw + 24px);
    z-index: 2;
}

.up-scroller img {
    transform: rotate(-90deg);
}

.footer {
    margin-top: calc(10.4vw - 20px);
    background-color: var(--text2);
    color: var(--text);
}

.container-footer {
    padding: 80px 0 60px 0;
    display: flex;
    justify-content: space-between;
    gap: calc(12.2vw - 89px);
    
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column a {
    color: var(--text);
}

.footer-column__wrapper {
    display: flex;
    flex-direction: column;
}

.footer-column__links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 170px;
}

.footer-column__headers h5 {
    margin-bottom: 24px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.03em;
}

.footer-column__headers h6 {
    margin-bottom: 24px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
}

.footer-column__input {
    margin-top: 16px;
    border: 1.5px solid var(--text);
    border-radius: 4px;
    padding: 12px 0px 12px 16px;
    width: 217px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 32px;
}

.footer-column__input input {
    background-color: transparent;
    color: var(--text);
    font-size: 16px;
    max-width: 130px;
    border: none;
}

.footer-column__input input:focus{
    outline: none;
}

.footer-column__input button {
    background: transparent;
    border: none;
    transition: all .3s ease;
    cursor: pointer;
    stroke: #fafafa;
    width: 44px;
    height: 48px;
}

.footer-column__input button:hover {
    background: var(--bg);
    stroke: #000;
}

.footer-column__economy p {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
    opacity: 0.7;
}

.footer-column__download {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-column__download-shops {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-column__social-links {
    margin-top: 24px;
    display: flex;
    gap: 24px;
}

.footer-copyright {
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.container-sign-up {
    max-width: 1170px; 
    margin: 0 auto; 
    display: flex;
    justify-content: flex-start;
}

.sign-up__wrapper {
    margin: 60px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 130px;
}

.sign-up__image-block img {
    max-width: 805px;
    max-height: 781px;
    height: auto;
    width: 100%;
}

.sign-up__content-block {
    flex: 1;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.sign-up__content-block h3 {
    margin-bottom: 24px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 36px;
    line-height: 83%;
    letter-spacing: 0.04em;
    color: var(--text2);
    width: max-content;
}

.sign-up__content-block p {
    margin-bottom: 48px;
    font-size: 16px;
    color: var(--text2);
}

.sign-up__inputs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin-bottom: 40px;
}

.sign-up__inputs input {
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}

.sign-up__inputs input, .sign-up__inputs input::placeholder {
    font-size: 16px;
    color: var(--text2);
    opacity: 0.6;
}

.sign-up__inputs input:focus {
    outline: none;
}

.sign-up__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sign-up__button-auth {
    background: var(--secondary-2);
    border: 1px solid var(--secondary-2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 16px;
    min-height: 56px;
    font-weight: 500;
    font-size: 16px;
    color: var(--text);
}

.sign-up__button-google {
    border: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 4px;
    padding: 16px;
    min-height: 56px;
    font-weight: 500;
    font-size: 16px;
}

.sign-up__buttons-login {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.sign-up__buttons-login p {
    margin-bottom: 0;
    font-size: 16px;
    opacity: 0.7;
}

.sign-up__buttons-login a {
    font-weight: 500;
    font-size: 16px;
    opacity: 0.7;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.sign-up__buttons-login a:hover::after {
    width: 100%;
}

.sign-up__buttons-login a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    width: 0;
    height: 1px;
    background-color: var(--text2);
    opacity: 0.5;
}

.log-in__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log-in__button-auth {
    background: var(--secondary-2);
    border: 1px solid var(--secondary-2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 16px;
    min-width: 143px;
    min-height: 56px;
    font-weight: 500;
    font-size: 16px;
    color: var(--text);
}

.log-in__buttons a {
    font-size: 16px;
    color: var(--secondary-2);
}






